flow.txt
[{"id":"3844da46.17fe16","type":"debug","z":"560bf4fa.55869c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":400,"wires":[]},{"id":"2f632137.02f96e","type":"octopus in","z":"560bf4fa.55869c","name":"Octopus","region":"H","numblocks":"6","x":380,"y":120,"wires":[[],["593091e2.74bf4","eed0cb53.3137e8"],[]]},{"id":"593091e2.74bf4","type":"debug","z":"560bf4fa.55869c","name":"octopus cheapest price","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":60,"wires":[]},{"id":"ddd85f0f.c047e","type":"inject","z":"560bf4fa.55869c","name":"trigger every hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["2f632137.02f96e"]]},{"id":"b31dcbb6.799dd8","type":"inject","z":"560bf4fa.55869c","name":"manual trigger","topic":"","payload":"NaN","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["2f632137.02f96e"]]},{"id":"eed0cb53.3137e8","type":"function","z":"560bf4fa.55869c","name":"split","func":"msg.payload = msg.payload.min_blocks[0][\"min Block valid From\"]\n\n \nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["1caacb1.5d19935"]]},{"id":"1caacb1.5d19935","type":"function","z":"560bf4fa.55869c","name":"Insert into database","func":"msg.topic = \"BEGIN TRANSACTION;\";\n\nfor (var key in msg.payload) {\n    // Using sqlite upsert extention to only insert if key does not exist\n    msg.topic += \"update starttime set cost= '\" + msg.payload + \"' where start_time = 0;\"\n}\nmsg.topic += \"COMMIT;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":120,"wires":[["4dcac0d5.fe462"]]},{"id":"4dcac0d5.fe462","type":"sqlite","z":"560bf4fa.55869c","mydb":"25f38b82.9ce914","sqlquery":"batch","sql":"INSERT INTO rates VALUES ($timestamp, $price) ON CONFLICT DO NOTHING;","name":"Agile time","x":980,"y":120,"wires":[[]]},{"id":"f85e84b0.969db8","type":"function","z":"560bf4fa.55869c","name":"Request to SQL","func":"// Count the number of furure records available from the current time onwards.\n// Excludes the current half hour, may return zero.\n\n// database uses seconds since epoch, time at the beginning of each half hour\n//var timestamp = Date.now() / 1000;\n\nmsg.topic = \"SELECT * from starttime;\"\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["7194193e.2ff2b8"]]},{"id":"7194193e.2ff2b8","type":"sqlite","z":"560bf4fa.55869c","mydb":"25f38b82.9ce914","sqlquery":"msg.topic","sql":"INSERT INTO rates VALUES ($timestamp, $price) ON CONFLICT DO NOTHING;","name":"Agile rates","x":630,"y":300,"wires":[["31f83603.141e4a","60d52249.1e63ac"]]},{"id":"31f83603.141e4a","type":"debug","z":"560bf4fa.55869c","name":"sql out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":200,"wires":[]},{"id":"60d52249.1e63ac","type":"function","z":"560bf4fa.55869c","name":"when to charge","func":"\nlet st = msg.payload[0].cost ;\nlet starttime = Number (st.slice(11, 13));\n\nlet schedulestarttime = starttime * 60 * 60\n\nmsg.payload = schedulestarttime; \n\nreturn msg\n\n\n\n","outputs":1,"noerr":0,"x":840,"y":300,"wires":[["2ffdfe2.4be3202","b8f87cb7.5908f"]]},{"id":"2ffdfe2.4be3202","type":"debug","z":"560bf4fa.55869c","name":"time to start in seconds","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":200,"wires":[]},{"id":"b8f87cb7.5908f","type":"mqtt out","z":"560bf4fa.55869c","name":"mqtt start","topic":"W/your-VRMPortalID-here/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Start","qos":"","retain":"","broker":"6bcebe96.b86a4","x":1080,"y":300,"wires":[]},{"id":"e592bffd.23a4f","type":"inject","z":"560bf4fa.55869c","name":"triger every hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["f85e84b0.969db8"]]},{"id":"5da7020a.5a213c","type":"http request","z":"560bf4fa.55869c","name":"Request to APP to keep MQTT up","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.115.111/app/","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":400,"wires":[["3844da46.17fe16"]]},{"id":"59df63a3.c9769c","type":"inject","z":"560bf4fa.55869c","name":"triger 15min","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["5da7020a.5a213c"]]},{"id":"25f38b82.9ce914","type":"sqlitedb","z":"","db":"/home/mark/agile_rates.sqlite","mode":"RWC"},{"id":"6bcebe96.b86a4","type":"mqtt-broker","z":"","name":"cerbo","broker":"192.168.115.111","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]